.edit-product-page-swiper {
  padding-bottom: 32px;
}

/* swiper bullets */
.swiper-button-next,
.swiper-button-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px !important;
  height: 44px !important;
  background: #fef6eb;
  top: calc(50% - 12px) !important;
  border: 2px solid #292524;
  border-radius: 100%;
  transition: transform 0.3s ease;
}

:is(.swiper-button-next, .swiper-button-prev)::after {
  display: inline-block;
  content: "" !important;
  width: 24px;
  height: 24px;
  background: url(../assets/images/arrow-right.svg) no-repeat;
  background-size: cover;
}

:is(.swiper-button-next, .swiper-button-prev):active {
  transform: scale(0.8);
}

.swiper-button-prev::after {
  background: url(../assets/images/arrow-left.svg);
}

/* pagination */
.edit-product-page-swiper .swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 32px;
  bottom: 0px !important;
}

.edit-product-page-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background: #fef6eb;
  border: 2px solid #292524;
  opacity: 1;
  margin: 0 !important;
  transition-property: width height;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.edit-product-page-swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
}

/* bg animation */
.swiper-slide-bg-animation {
  background: linear-gradient(-45deg, #29252405 50%, #fef6eb, #29252405 60%);
  background-position: 130%;
  background-size: 200%;
  animation: 1s ease infinite;
  transition: all 0.8s ease;
}
.swiper-slide-bg-animation:hover {
  background-position: -70%;
}

@media only screen and (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
